---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/PostList.astro";
import Post from "../components/Post.astro";

const title = "Home"
import { getCollection, getEntry } from 'astro:content';
const allPosts = await getCollection('posts');
const nonDraftPosts = allPosts.filter(post => !post.data.draft).sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime())
---
<BaseLayout
	title={title}
>
	<div class="flex flex-col align-center space-y-4">
		{ nonDraftPosts.map(post => {
			console.log(post.collection)
			return (<Post 
					tags={post.data.tags}
					url={`/${post.collection}/${post.slug}`}
					thumbnail={`/${post.collection}/${post.slug}/${post.data.thumbnail}`}
					title={post.data.title}
					description={post.data.description}
					date={post.data.date}
				/>)
		})}
	</div>
</BaseLayout>
