---
import Post from "./Post.astro";
const posts = await Astro.glob("../pages/posts/**/*.mdx");

const getRealImage = (postLocation: string, imageLocation: string): string => {
	let post = postLocation.split("/").slice(2);
	let image = imageLocation.split("/");
	post[post.length - 1] = image[image.length - 1]
	let result = ["", "assets", ...post].join("/")
	return result
}


---
<div>
	{
		posts.map((x) => {
			if (x.frontmatter.draft) {
				return <></>
			} else {
			return(
				<Post
					tags={x.frontmatter.tags}
					url={x.url}
					thumbnail={getRealImage(x.url, x.frontmatter.thumbnail)}
					title={x.frontmatter.title}
					description={x.frontmatter.description}
					date={x.frontmatter.date}
				/>
			)
			}
		})
	}
</div>
<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
		width: 100%;
  }
</style>