---
import A from "./CaptionImageastro";
import Post from "./Post.astro";
const posts = await Astro.glob("../pages/posts/**/*.mdx");

const getRealImage = (postLocation: string, imageLocation: string): string => {
  console.log(postLocation, imageLocation)
	let post = postLocation.split("/").slice(2);
	let image = imageLocation.split("/");
	post[post.length - 1] = image[image.length - 1]
	let result = ["", "assets", ...post].join("/")
	return result
}


---
<div>
	{
		posts.sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)).filter(x => !x.frontmatter.draft ).map((x) => {
			return(
				<Post
					tags={x.frontmatter.tags}
					url={x.url}
					thumbnail={getRealImage(x.url, x.frontmatter.thumbnail)}
					title={x.frontmatter.title}
					description={x.frontmatter.description}
					date={x.frontmatter.date}
				/>
			)
		})
	}
</div>
<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
		width: 100%;
  }
</style>
